@keyframes fade-in-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        transform: translateY(toRem(-20));
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-two {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}