

@font-face {
    font-family: "Jost";
    src: url('../../assets/fonts/Jost-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Jost";
    src: url('../../assets/fonts/Jost-SemiBold.ttf') format('truetype');
}