@use '../../styles/partials/functions' as *;
@use '../../styles/partials/keyframes' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.ai-form {
    
    &__group {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: toRem(16);

        &--select {
            position: relative;
            padding: 0;
        }
    }

    &__label {
        font-weight: 600;
        padding-bottom: toRem(4);
        font-size: toRem(13);
        opacity: 0;
        animation: fade-in-two 2s forwards;

        @include tablet {
            font-size: toRem(15);
        }

        &--select {
            @include tablet {
                display: none;
            }
        }
    }

    &__select-container {
        padding-bottom: toRem(16);
        display: flex;
        flex-wrap: wrap;

        @include tablet {
            display: block;
        }
    }

    &__select {
        appearance: none;
        font-family: $font;
        font-size: toRem(16);
        border-radius: 5px;
        height: toRem(36);
        width: 100%;
        padding: toRem(8);
        margin-bottom: toRem(24);
        outline: none;
        cursor: pointer;
        background-image: url('../../assets/icons/arrow_drop_down-24px.svg');
        background-repeat: no-repeat;
        background-position: center right toRem(4);
        background-size: toRem(32);
        background-color: $select-background;
        z-index: 10;
        opacity: 0;
        animation: fade-in-two 2s 1s forwards;
        box-shadow: -2px 2px 5px rgba(19, 24, 44, 0.5);

        @include tablet {
            width: toRem(200);
            position: absolute;
            height: toRem(46);
            font-size: toRem(18);
            animation: fade-in-two 2s 2s forwards;
            box-shadow: none;
        }

        &:focus {
            border: 1px solid $border-hover-focus;
        }

        &:hover {
            border: 1px solid $border-hover-focus;
        }

        &--engine {
            @include tablet {
                top: toRem(46);
                left: toRem(10);
                margin-bottom: 0;
            }
        }

        &--preset {
            margin-bottom: 0;
            width: 100%;

            @include tablet {
                width: toRem(300);
                left: toRem(226);
                top: toRem(46);
            }
        }

        &--invalid {
            border: 1px solid $error-border;

            &:focus {
                border: 1px solid $error-border;
            }
        }
    }
    
    &__textarea {
        font-family: $font;
        font-size: toRem(16);
        width: 100%;
        height: toRem(250);
        outline: none;
        border-radius: 5px;
        padding: toRem(8);
        resize: none;
        background-color: $textarea-background;
        border: 1px solid $general-border;
        box-shadow: -2px 2px 5px rgba(19, 24, 44, 0.5);
        opacity: 0;
        animation: fade-in-two 2s 1s forwards;

        @include tablet {
            font-size: toRem(18);
            padding: toRem(68) toRem(8) toRem(8);
        }

        &:focus {
            border: 3px solid $border-hover-focus;
        }

        &:hover {
            border: 3px solid $border-hover-focus;
        }

        &--invalid {
            border: 1px solid $error-border;

            &:focus {
                border: 1px solid $error-border;
            }
        }
    }

    &__button-container {
        display: flex;
        justify-content: flex-end;
    }

    &__button {
        font-family: $font;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: toRem(40);
        font-size: toRem(14);
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        background-color: $button-color;
        border: 0;
        border-radius: toRem(20);
        transition: background-color 0.3s, color 0.3s;
        opacity: 0;
        animation: fade-in-two 2s 2s forwards;

        @include tablet {
            width: toRem(150);
            height: toRem(50);
            font-size: toRem(16);
            animation: fade-in-two 2s 3s forwards;
        }

        &:hover {
            background-color: $button-hover;
            color: $button-text;
        }
    }
}