@use '../../styles/partials/functions' as *;
@use '../../styles/partials/keyframes' as *;
@use '../../styles/partials/variables' as *;

.response {
    width: 99%;
    background-color: $response-background;
    padding: toRem(40);
    border-radius: 10px;
    margin-bottom: toRem(20);
    animation: fade-in 1s forwards;
    box-shadow: 0px 5px 5px rgba(19, 24, 44, 0.5);

    &__container {
        display: flex;
        align-items: baseline;
        padding-bottom: toRem(24);
        width: 100%;
    }

    &__heading {
        width: 15%;
        font-weight: 600;
        font-size: toRem(20);
    }

    &__paragraph {
        font-size: toRem(18);
        width: 100%;
    }
}